<!DOCTYPE html>
<html>

<head>
    <title>Steam Game Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #171a21;
            color: #c7d5e0;
        }
        .checkbox-lg .form-check-input{
            top: .8rem;
            scale: 1.4;
            margin-right: 0.7rem;
        }
        .my-container {
            height: 65px; /* Adjust the height value as desired */   
        }
    </style>
</head>

<body>
    <div class="container">
        <hr>
        <h1 class="text-center mb-4">Steam Game Finder</h1>
        <form>
            <div class="form-group">
                <label for="vanityUrl">Enter Your Vanity Url</label>
                <textarea class="form-control" id="vanityUrl" rows="1"></textarea>
            </div>
        </form>
        <hr>
        <div class="container" id="mainContainer">
            <h2 class="text-center mb-4">Steam Friends List</h2>
            <div class="row">
                <div class="col-md-4" id="column1">
                    <div class='container border border-dark rounded bg-info h-25' id='userNum'>
                        <div class='row'>
                            <div class='col-4 d-flex align-items-center'>
                                <img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid' alt='avatarName +'>
                            </div>
                            <div class='col-4 text-center align-items-center'>
                                <p>avatarName</p>
                            </div>
                            <div class="col-3 d-flex align-items-end justify-content-end">
                                <div class="form-check checkbox-lg">
                                <input type='checkbox' class="form-check-input" id='avatar' name='chk' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container border border-dark rounded bg-info">
                        <div class="row">
                          <div class="col-4 d-flex align-items-center">
                            <img src="https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg" alt="Image" class="img-fluid">
                          </div>
                          <div class="col">
                          <div class="col-4 text-center">
                            <p>avatarname</p>
                          </div>
                        </div>
                          <div class="col-4 d-flex align-items-center justify-content-end">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="checkbox">
                              
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class='container border border-dark rounded bg-info my-container' id='" + userNum + "'>
                        <div class='row'>
                            <div class='col-4 d-flex align-items-center'>
                                <img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid' alt='" + avatarName + "'>
                            </div>
                            <div class='col-4 text-center align-items-center'>
                                <p class='text-center'>" + avatarName + "</p>
                            </div>
                            <div class='col-4 d-flex align-items-center justify-content-end'>
                                <div class='form-check checkbox-lg'>
                                    <input type='checkbox' class='form-check-input align-items-right' id='" + avatarId + "' name='chk'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='container border border-dark rounded bg-info' id='userNum'>
                        <div class='row'>
                            <div class='col-2'><img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid padding-1' alt='avatarName +'></div>
                            <div class='col'>
                                <p class='text-center'></p>avatarName</p><input type='checkbox' class='float-right' id='avatar' name='chk' />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="column2">
                    <div class='container border border-dark rounded bg-info' id='userNum'>
                        <div class='row'>
                            <div class='col-2'><img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid padding-1' alt='avatarName +'></div>
                            <div class='col'>
                                <p class='text-center'></p>avatarName</p><input type='checkbox' class='float-right' id='avatar' name='chk' />
                            </div>
                        </div>
                    </div>
                    <div class='container border border-dark rounded bg-info' id='userNum'>
                        <div class='row'>
                            <div class='col-2'><img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid padding-1' alt='avatarName +'></div>
                            <div class='col'>
                                <p class='text-center'></p>avatarName</p><input type='checkbox' class='float-right' id='avatar' name='chk' />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="column3">
                    <div class='container border border-dark rounded bg-info' id='userNum'>
                        <div class='row'>
                            <div class='col-2'><img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid padding-1' alt='avatarName +'></div>
                            <div class='col'>
                                <p class='text-center'></p>avatarName</p><input type='checkbox' class='float-right' id='avatar' name='chk' />
                            </div>
                        </div>
                    </div>
                    <div class='container border border-dark rounded bg-info' id='userNum'>
                        <div class='row'>
                            <div class='col-2'><img src='https://avatars.akamai.steamstatic.com/a3a8d33a7075110366c954d621cde95158289cfb.jpg' class='img-fluid padding-1' alt='avatarName +'></div>
                            <div class='col'>
                                <p class='text-center'></p>avatarName</p><input type='checkbox' class='float-right' id='avatar' name='chk' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>