<!DOCTYPE html>
<html>
<head>
    <title>Steam Game Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/public/css/styles.css"> -->
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        body
        {
            background-color: #171a21;
            color: #c7d5e0;
        }
        .checkbox-lg .form-check-input{
            top: .8rem;
            scale: 1.4;
            margin-right: 0.7rem;
        }
        .my-container {
            height: 65px; /* Adjust the height value as desired */
            
        }
    </style>
</head>

<body>
    <div class="container">
        <hr>
        <h1 class="text-center mb-4">Steam Game Finder</h1>
        <form>
            <div class="form-group">
                <label for="vanityUrl">Enter Your Vanity Url</label>
                <textarea class="form-control" id="vanityUrl" rows="1"></textarea>
            </div>
        <div class="container" id="btnContainer">
            <button type="button" class="btn btn-primary" id="getFriendsBtn">Get Steam Friends List</button>
            <button type="button" class="btn btn-primary" id="submitFriendsBtn">Submit Friends</button>
            <button type='button' class='btn btn-secondary' id='randomGameBtn'>Pick a Random Game</button>
            <button type='button' class='btn btn-success' id='saveGamesBtn'>Save Common Games to File</button>
            <button type='button' class='btn btn-danger' id='clearBtn'>Clear</button>
        </div>
        </form>
        <hr>
        <div class="container" id="mainContainer">
        <h2 class="text-center mb-4">Steam Friends List</h2>
            <div class="row">
                <div class="col-md-4" id="column1"></div>
                <div class="col-md-4" id="column2"></div>
                <div class="col-md-4" id="column3"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //hide all buttons except getFriendsBtn
            $("#submitFriendsBtn").hide();
            $("#randomGameBtn").hide();
            $("#saveGamesBtn").hide();
            var steamIds = [];
            $("#getFriendsBtn").click(function () {
                //unhide submitFriendsBtn
                $("#submitFriendsBtn").show();
                //hide getFriendsBtn
                $("#getFriendsBtn").hide();
                var vanityUrl = $("#vanityUrl").val();
                if (vanityUrl.length === 0) {
                    alert("Please enter a Vanity URL.");
                    return;
                }
                var data = {
                    vanityUrl: vanityUrl
                };
                $.post("/getFriends", data, function (response) {
                    // console.log(response)
                    // $("#friendsList").empty();
                    $("column1").empty();
                    $("column2").empty();
                    $("column3").empty();
                    var friends = response;
                    if (friends.length === 0) {
                        $("#friendsList").append(
                            "<div class='row'><div class='col-md-4'></div><div class='col-md-4'><p class='text-center'>No friends found.</p></div><div class='col-md-4'></div></div>"
                            );
                    } else {
                        var count = 0;
                        var userNum = 0;
                        //download avatar images
                        $.each(friends, function (index, friend) {
                            userNum++;
                            var avatarUrl = friend['avatar'];
                            var avatarName = friend['personaname'];
                            var avatarId = friend['steamID'];
                            var avatarVanityUrl = friend['vanityurl'];
                            var avatar = "<div class='container border border-dark rounded bg-info p-3' id='" + 
                                    userNum +"'><div class='row align-items-center'><div class='col-3 ml-2'><img src='" + 
                                    avatarUrl +"' class='img-fluid' alt='" +
                                    avatarName + "'></div><div class='col-5 text-center'><p class='text-nowrap'>"+avatarName+"</p></div><div class='col-3'><div class='form-check checkbox-lg mb-5 ml-5'><input type='checkbox' class='form-check-input' id='" + 
                                    avatarId + "' name='chk' /></div></div></div></div>";
                            if (count === 0) {
                                $("#column1").append(avatar);
                                count++;
                            } else if (count === 1) {
                                $("#column2").append(avatar);
                                count++;
                            } else if (count === 2) {
                                $("#column3").append(avatar);
                                count = 0;
                            }
                            if (userNum === friends.length) {
                                //hide that container
                                $("#" + userNum).hide();
                                //automatically check that checkbox
                                $("#" + avatarId).prop("checked", true);
                            }
                            console.log("Index:" + index + " FriendsLength:" + friends.length + " UserNum:" + userNum);
                        });
                    }
                });
            });
            $("#submitFriendsBtn").click(function () {
                //unhide randomGameBtn and saveGamesBtn
                $("#randomGameBtn").show();
                $("#saveGamesBtn").show();
                //hide submitFriendsBtn
                $("#submitFriendsBtn").hide();
                
                $("input:checkbox[name=chk]:checked").each(function () {
                    steamIds.push($(this).attr("id"));
                });
                if (steamIds.length === 0) {
                    alert("Please select at least one friend.");
                    return;
                }
                var data = {
                    steamIds: steamIds
                };
                console.log(data);
                $("#mainContainer").empty();
                $("#mainContainer").append("<h2 class='text-center mb-4'>Common Games</h2>");
                $("#mainContainer").append("<table class='table table-striped' id='gamesTable'><thead><tr><th scope='col'>#</th><th scope='col'>Game</th></tr></thead><tbody></tbody></table>");
                $.post("/getGames", data, function(response) {
                $("#gamesTable tbody").empty();
                games = response
                console.log(response)
                if (games.length === 0) {
                    $("#gamesTable tbody").append("<tr><td colspan='2' class='text-center'>No common games found.</td></tr>");
                } else {
                    $.each(games, function(index, game) {
                    var row = "<tr><th scope='row'>" + (index + 1) + "</th><td>" + game['name'] + "</td></tr>";
                    $("#gamesTable tbody").append(row);
                    });
                }
                });
            });
            $("#gamesBtn").click(function () {
                window.location.href = "/games";
            });
            $("#randomGameBtn").click(function () {
                console.log("random game button clicked");
                var gameNames = $("#gamesTable tbody tr td:nth-child(2)").map(function () {
                    return $(this).text();
                }).get();
                if (gameNames.length === 0) {
                    alert("Please get common owned games first.");
                    return;
                }
                var randomIndex = Math.floor(Math.random() * gameNames.length);
                var randomGame = gameNames[randomIndex];
                alert("Random Game: " + randomGame);
            });
            $("#saveGamesBtn").click(function () {
                console.log("saveGamesBtn clicked");
                var gameNames = $("#gamesTable tbody tr td:nth-child(2)").map(function () {
                    return $(this).text();
                }).get();
                if (gameNames.length === 0) {
                    alert("Please get common owned games first.");
                    return;
                }
                var gamesString = "";
                for (var i = 0; i < gameNames.length; i++) {
                    gamesString += gameNames[i] + '\n';
                }
                var fileBlob = new Blob([gamesString], {
                    type: 'text/plain'
                });
                var url = URL.createObjectURL(fileBlob);
                var link = document.createElement('a');
                link.download = 'common_games.txt';
                link.href = url;
                link.click();
            });
            $("#clearBtn").click(function () {
                //reload page
                location.reload();
            });
        });
    </script>
</body>
</html>